.header {
  background-color: #1e1e2f;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__nav {
  display: flex;
  gap: 1rem;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__logo {
 display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo-img {
  height: 80px;
  width: auto;
}
