.book {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
}

.book-detail {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 20px;
}
.book-detail__image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}